* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: url(images/background.png);
    background-size: cover;
}

img {
    padding: 25px;
}

h1 {
    color: #000;
    font-weight: 800;
    font-size: 4em;
    padding: 20px 20px 0px 20px;
    margin-top: 50px;
    margin-left: 100px;
}

h2 {
    color: #000;
    font-family: "Crimson Text", serif;
    font-weight: 600;
    padding: 0 20px 0 20px;
    font-size: 3em;
    margin-left: 100px;
}

h3 {
    color: #000;
    text-align: left;
    padding: 20px;
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-size: 2em;
    margin-left: 100px;
}

p {
    color: #000;
    font-size: 1.75em;
    text-align: left;
    padding: 0 20px 10px 20px;
}

#left p {
    margin-left: 100px;
}

#timeline {
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-size: 1.7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
}

.hours {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 5px;
    margin-top: 20px;
    width: 90%;
}

.hour {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hour:hover {
    background-color: #555;
}

.hour-labels {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

