* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: url(images/background.png);
    background-size: cover;
}

img {
    padding: 25px;
}

h1 {
    color: #000;
    font-weight: 800;
    font-size: 3em;
    padding: 20px 20px 0px 20px;
    margin-top: 50px;
    margin-left: 50px;
}

h2 {
    color: #000;
    font-family: "Crimson Text", serif;
    font-weight: 600;
    padding: 0 20px 0 20px;
    font-size: 2.5em;
    margin-left: 50px;
}

h3 {
    color: #000;
    text-align: left;
    padding: 20px;
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-size: 2em;
    margin-left: 50px;
}

p {
    color: #000;
    font-size: 1.5em;
    text-align: left;
    padding: 0 20px 10px 20px;
}

#left p {
    margin-left: 50px;
}

.hours {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 5px;
    margin-top: 200px;
    width: 90%;
}

.hours {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 5px;
    margin-top: 200px;
    margin-left: 70px;
    width: 90%;
    align-items: end; /* Align the bars to the bottom */
}

.hour {
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center horizontally */
    align-items: flex-end; /* Align content at the bottom */
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 1.25em;
    padding: 5px;
    transition: height 0.3s, background-color 0.3s;
    cursor: pointer;
}


.hour:hover {
    background-color: #555;
}


